@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.centralize {
  @apply flex w-full justify-center;
}

/* Typing animation */
@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.typing-animation {
  display: inline-block;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #000;
  animation: typing 3.5s steps(40) 1s forwards;
}
@layer components {
  .remove-spinner::-webkit-outer-spin-button,
  .remove-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .remove-spinner {
    -moz-appearance: textfield;
  }
}
